# More Pandas topics

In [2]:
import pandas as pd

### 1. Setting Types
Might need to change the type for a column in dataframe

In [38]:
df = pd.DataFrame({'names': ['joe', 'hank', 'kim', 'bob'], 'data': ["1", "2", "3", "4"], 'more_data': [5, 6, 7, 8]})

In [37]:
df.dtypes

names         object
data          object
more_data    float64
dtype: object

In [27]:
# convert data column to int64
df['data'] = df['data'].astype('int64')

In [28]:
df.dtypes

names        object
data          int64
more_data     int64
dtype: object

### 2. MultiIndexing: 
Pandas allows creating DataFrames with MultiIndex, which means having multiple levels of row or column indices. This is particularly useful when dealing with complex hierarchical data.

In [3]:
# Creating a DataFrame with MultiIndex
arrays = [['A', 'A', 'B', 'B'], [1, 2, 1, 2]]
index = pd.MultiIndex.from_arrays(arrays, names=('first', 'second'))
df = pd.DataFrame({'data': [1, 2, 3, 4]}, index=index)
print(df)

              data
first second
A     1          1
      2          2
B     1          3
      2          4

Hierarchical Representation:  you can organize information in a structured manner. 

Efficient Data Manipulation: You can easily perform operations like grouping, aggregation, and slicing based on the hierarchical index levels.

Flexibility in Analysis: Multi-indexing provides flexibility in data analysis. You can analyze data at different levels of granularity.

Time Series Analysis: In time-series data, multi-indexing can be used to represent hierarchical time series, where you may have multiple levels such as year, month, and day.

In [13]:
import pandas as pd

# Sample study participant data and location
data = {
    'Region': ['North', 'North', 'South', 'South', 'East', 'East', 'West', 'West'],
    'Year': [2019, 2020, 2019, 2020, 2019, 2020, 2019, 2020],
    'Participants': [100, 120, 80, 90, 110, 130, 95, 105]
}

# Creating DataFrame
df = pd.DataFrame(data)

# Setting MultiIndex
df.set_index(['Region', 'Year'], inplace=True)

print(df)

             Participants
Region Year
North  2019           100
       2020           120
South  2019            80
       2020            90
East   2019           110
       2020           130
West   2019            95
       2020           105

In [14]:
df.groupby(by="Region").mean()

        Participants
Region
East           120.0
North          110.0
South           85.0
West           100.0

In [15]:
df.groupby(by="Year").mean()

      Participants
Year
2019         96.25
2020        111.25

## 3. Reshaping Data:
- **Pivot Tables**: A pivot table is a data summarization tool that is used in the context of data processing. Pivot tables are used to summarize, sort, reorganize, group, count, total, or average data stored in a database. It allows you to transform columns into rows and rows into columns.

In [11]:
import pandas as pd

# Sample test data
data = {
    'Date': ['2022-01-01', '2022-01-05', '2022-02-10', '2022-02-15', '2022-01-03'],
    'Test': ['A', 'B', 'A', 'B', 'C'],
    'Data': [100, 120, 80, 90, 110]
}

# Creating DataFrame
df = pd.DataFrame(data)

# Converting 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Extracting month from date
df['Month'] = df['Date'].dt.month

# Creating pivot table
pivot_table = df.pivot_table(index='Month', columns='Test', values='Data', aggfunc='sum')

print(pivot_table)

Test       A      B      C
Month
1      100.0  120.0  110.0
2       80.0   90.0    NaN

- **Stack and Unstack**: The stack() - columns to index. The unstack() - index to columns.

In [16]:
import pandas as pd

# Sample data
data = {
    'Date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02'],
    'Category': ['A', 'B', 'A', 'B'],
    'Value1': [10, 20, 30, 40],
    'Value2': [100, 200, 300, 400]
}

# Creating DataFrame
df = pd.DataFrame(data)

# Setting hierarchical index
df.set_index(['Date', 'Category'], inplace=True)

print("Original DataFrame:")
print(df)
print()

# Unstacking DataFrame
unstacked_df = df.unstack()
print("Unstacked DataFrame:")
print(unstacked_df)
print()

# Stacking DataFrame
stacked_df = unstacked_df.stack()
print("Stacked DataFrame:")
print(stacked_df)

Original DataFrame:
                     Value1  Value2
Date       Category
2022-01-01 A             10     100
           B             20     200
2022-01-02 A             30     300
           B             40     400

Unstacked DataFrame:
           Value1     Value2
Category        A   B      A    B
Date
2022-01-01     10  20    100  200
2022-01-02     30  40    300  400

Stacked DataFrame:
                     Value1  Value2
Date       Category
2022-01-01 A             10     100
           B             20     200
2022-01-02 A             30     300
           B             40     400

/var/folders/_w/qnw43f513_n3cdcbk9_mv3ch0000gn/T/ipykernel_11720/2299039228.py:28: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  stacked_df = unstacked_df.stack()

### Time Series Data Analysis
- **Time Resampling**: Time resampling is the process of changing the time frequency of the time series data.

In [64]:
import pandas as pd

# Generating a date range
date_range = pd.date_range(start='2022-01-01 10:00:00', end='2022-01-01 11:00:00', freq='s')
date_range

DatetimeIndex(['2022-01-01 10:00:00', '2022-01-01 10:00:01',
               '2022-01-01 10:00:02', '2022-01-01 10:00:03',
               '2022-01-01 10:00:04', '2022-01-01 10:00:05',
               '2022-01-01 10:00:06', '2022-01-01 10:00:07',
               '2022-01-01 10:00:08', '2022-01-01 10:00:09',
               ...
               '2022-01-01 10:59:51', '2022-01-01 10:59:52',
               '2022-01-01 10:59:53', '2022-01-01 10:59:54',
               '2022-01-01 10:59:55', '2022-01-01 10:59:56',
               '2022-01-01 10:59:57', '2022-01-01 10:59:58',
               '2022-01-01 10:59:59', '2022-01-01 11:00:00'],
              dtype='datetime64[ns]', length=3601, freq='s')

In [65]:
# add random data
data = {'Date': date_range,
        'Value': [i*2 + 5 for i in range(len(date_range))]}

df = pd.DataFrame(data)
df

                    Date  Value
0    2022-01-01 10:00:00      5
1    2022-01-01 10:00:01      7
2    2022-01-01 10:00:02      9
3    2022-01-01 10:00:03     11
4    2022-01-01 10:00:04     13
...                  ...    ...
3596 2022-01-01 10:59:56   7197
3597 2022-01-01 10:59:57   7199
3598 2022-01-01 10:59:58   7201
3599 2022-01-01 10:59:59   7203
3600 2022-01-01 11:00:00   7205

[3601 rows x 2 columns]

In [66]:

# Setting 'Date' column as index
df.set_index('Date', inplace=True)

print("Original DataFrame:")
print(df.head())
print()

Original DataFrame:
                     Value
Date
2022-01-01 10:00:00      5
2022-01-01 10:00:01      7
2022-01-01 10:00:02      9
2022-01-01 10:00:03     11
2022-01-01 10:00:04     13

In [67]:
# Resampling: Converting daily data to 10 second data
ten_sec_data = df.resample('10s').sum()
print("10 second Resampled Data:")
print(ten_sec_data.head())
print()

10 second Resampled Data:
                     Value
Date
2022-01-01 10:00:00    140
2022-01-01 10:00:10    340
2022-01-01 10:00:20    540
2022-01-01 10:00:30    740
2022-01-01 10:00:40    940

In [72]:

# Rolling Window: Calculating the rolling average over a window of 3 periods
rolling_average = df.rolling(window=3).mean()
print("Rolling Window (3-period) Average:")
print(rolling_average)

Rolling Window (3-period) Average:
                      Value
Date
2022-01-01 10:00:00     NaN
2022-01-01 10:00:01     NaN
2022-01-01 10:00:02     7.0
2022-01-01 10:00:03     9.0
2022-01-01 10:00:04    11.0
...                     ...
2022-01-01 10:59:56  7195.0
2022-01-01 10:59:57  7197.0
2022-01-01 10:59:58  7199.0
2022-01-01 10:59:59  7201.0
2022-01-01 11:00:00  7203.0

[3601 rows x 1 columns]

In [69]:
# Shifting: Shifting the data by one period
shifted_data = df.shift(1)
print("Shifted Data:")
print(shifted_data.head())
print()

Shifted Data:
                     Value
Date
2022-01-01 10:00:00    NaN
2022-01-01 10:00:01    5.0
2022-01-01 10:00:02    7.0
2022-01-01 10:00:03    9.0
2022-01-01 10:00:04   11.0